*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.bak
*.vrb
*.maf
*.mtc
*.mtc0

*.bak

*.bak

*.bak

algd1/algd1-zusammenfassung.tex.bak

algd2/algd2-zusammenfassung.tex.bak

swko/swko-zusammenfassung.tex.bak
